
@{
    ViewBag.Title = "New_Aluno";
}

<h2>New Aluno</h2>

<form action="New_Aluno" method="post">
    Nome
    <input type="text" id="txtNome" name="txtNome" />
    <br />
    Idade
    <input type="text" id="txtIdade" name="txtIdade" />
    <br />
    <input type="submit" id="btnSalvar" name="btnSalvar" value="SALVAR" />
</form>



